.banner {
  background-color: #2f303a;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/bg.jpg');

  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('/images/hero/header-img-mobile@2x.jpg');
  }
  @media screen and (min-width: 768px) {
    background-image: url('/images/hero/header-img-tablet.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('/images/hero/header-img-tablet@2x.jpg');
  }

  @media screen and (min-width: 1200px) {
    background-image: url('/images/hero/header-img-desktop.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('/images/hero/header-img-desktop@2x.jpg');
  }
}

// @media screen and (min-width: 768px) {
//   background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//     url('/images/Header-img_tabl.jpg');
// }
// @media screen and (min-width: 1200px) {
//   padding-top: 200px;
//   padding-bottom: 200px;
// }
