.banner {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/bg.jpg');

  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;
}
