footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-cont {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  @media screen and (min-width: 768px) {
    flex-direction: initial;
    justify-content: space-around;
    align-items: baseline;
  }
  @media screen and (min-width: 1200px) {
    align-items: baseline;
    flex-direction: row;
  }
}

.left-footer {
  text-align: center;
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    text-align: left;
  }
}
.address {
  color: var(--primary-background-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  display: inline-block;
}
.address-details {
  margin-top: 20px;
}

.container.footer a {
  margin-right: 0;
  padding-bottom: 0px;
  padding-top: 0px;
  display: block;
}
.addressfooter li:not(:last-child) {
  margin-bottom: 9px;
}
.addressfooter {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}
.join {
  justify-content: space-between;
  width: 206px;
  text-transform: uppercase;
}

.list-join {
  display: flex;
}
