header {
  border-bottom: solid 1px rgba(236, 236, 236, 1);
}

header .container {
  display: flex;
  justify-content: space-between;
}

.mobile-menu {
  position: fixed;
  background-color: #ffffff;
  width: 100vw;
  top: 0%;
  padding: 48px 40px;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  z-index: 1;
}
.menu-close {
  position: absolute;
  top: 21px;
  right: 25px;
  background-color: transparent;
  border: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover .mobile-btn-icon,
  &:focus .mobile-btn-icon {
    transition: fill;
    fill: #2196f3;
  }
}
.mobile-social-menu {
  display: flex;
  justify-content: flex-start;
}

.mobile-link {
  font-size: 40px;
  line-height: 1.17;
  color: black;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    transition: color;
    color: #2196f3;
  }
}
.mobile-link_current {
  color: #2196f3;
  font-size: 40px;
  line-height: 1.17;
  font-weight: 500;
}

.mobile-tel {
  color: #2196f3;
  font-size: 34px;
  line-height: 1.17;
  font-weight: 500;
  margin-bottom: 32px;
}
.mobile-email {
  font-size: 24px;
  line-height: 1.17;
  font-weight: 500;
  color: rgba(117, 117, 117, 1);
  margin-bottom: 64px;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mobile-item {
  margin-bottom: 32px;
}

.mobile-social-menu-link {
  color: #2196f3;
}

@media screen and (max-width: 480px) {
  .nav-container {
    display: none;
  }
  .nav-container__item {
    display: none;
  }
}
.mobile-social-menu-link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  padding-right: 10px;
  & {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.menu-open {
  background-color: transparent;
  border: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    transition: fill;
    fill: #2196f3;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
