.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
.modal {
  padding: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 2px rgba(33, 33, 33, 0.2), 0px 1px rgba(0, 0, 0, 0.14);
}

.close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  cursor: pointer;

  &:hover .modal-closed-btn {
    fill: var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.modal-form {
  display: flex;
  flex-direction: column;

  &-jointitle {
    display: block;
    text-align: center;
    font-weight: 700;
    line-height: 1.15;
    font-size: 20px;
    margin-bottom: 12px;
    color: rgba(33, 33, 33, 1);
  }
  &-field {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.16;
    display: block;
  }
  &-field:last-child {
    margin-bottom: unset;
  }

  &-input-wrapper {
    position: relative;
    display: block;
    margin-top: 4px;
  }
  &-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-input:focus {
    border-color: var(--accent-color);
    outline: none;
  }
  &-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    display: block;
    width: 18px;
    height: 18px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-input:focus + &-icon {
    fill: var(--accent-color);
  }
  &-comment {
    width: 100%;
    height: 120px;
    line-height: 1.14;
    font-size: 14px;
    margin-top: 4px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-comment:focus {
    border-color: var(--accent-color);
    outline: none;
  }

  &-comment::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }

  &-checkbox-label {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 13px;
  }

  &-checkbox-label::before {
    display: block;
    content: '';
    width: 16px;
    height: 15px;
    border: 1px solid #212121;
    cursor: pointer;
    margin-right: 9px;
  }
  &-checkbox-link {
    font-size: 14px;
    line-height: 1.71;
    color: var(--accent-color);
    text-decoration: underline;
  }
  &-checkbox:checked + &-checkbox-label::before {
    background-image: url(../images/icon-check.svg);
    border: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-btn {
    align-self: center;
    padding-left: 56px;
    padding-right: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    background-color: var(--accent-color);
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--primary-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  &-btn:hover,
  &-btn:focus {
    color: #ffffff;
    background-color: var(--accent-color);
  }
}
