.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.nav-portfolio {
  display: flex;
}
.list-of-exmp {
  display: block;
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}
.item {
  margin-right: 30px;
  // width: 370px;
  width: 100%;
  &:focus,
  &:hover {
    border-color: rgba(238, 238, 238, 1);
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }
}

.item {
  width: 100%;
  height: auto;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.port-description {
  padding: 20px 24px;
  border-bottom: #eeeeee solid 1px;
  border-left: #eeeeee solid 1px;
  border-right: #eeeeee solid 1px;
  height: auto;
  @media screen and (min-width: 767px) {
    height: 146px;
  }
  @media screen and (min-width: 1200px) {
    height: 110px;
  }
}

.portfolio-filter {
  color: var(--primary-text-color);

  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
}

.text-overlay {
  position: absolute;
  padding: 10px 24px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 15px;
  line-height: 1.55;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  overflow: hidden;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 480px) {
    font-size: 18px;
    line-height: 1.55;
    padding-top: 77px;
    padding-bottom: 77px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 49px;
    padding-bottom: 49px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 63px;
    padding-bottom: 63px;
  }
}
.card-overlay {
  position: relative;
  overflow: hidden;
}

.card-overlay-link:hover .text-overlay {
  transform: translateY(0%);
}
