.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-photo {
  background-color: #ffffff;
  padding: 30px 32px 30px 32px;
  text-align: center;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.list.teamcards {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.team-members {
  margin-right: 30px;
}
