.button {
  font: inherit;
  cursor: pointer;
}
.button-primary {
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-top: 30px;
}

.subscribe-btn {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  color: var(--primary-background-color);
  border: transparent;
  width: 200px;
  @media screen and (max-width: 1199px) {
    margin: 0 auto;
  }
}
.icon-subscribe {
  margin-left: 10px;
}

.portfolio-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;
  & li:not(:last-child) {
    margin-right: 8px;
  }

  @media screen and(min-width: 768px) {
    margin-bottom: 30px;
    justify-content: center;
  }
  @media screen and(min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.button-secondary {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  padding: 6px 22px;
  flex-direction: row;
  border: transparent;
  border-width: 1px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: var(--primary-background-color);
    background-color: var(--accent-color);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 3px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    // transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.portfolio_button-item:nth-child(-n + 3) {
  margin-bottom: 15px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}
