.nav-container__contacts {
  color: var(--primary-text-color);
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: color;
    fill: var(--accent-color);
  }
}
a.nav-container__contacts {
  display: flex;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon {
  margin-right: 10px;
  fill: #afb1b8;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .nav-container__contacts:focus > &,
  .nav-container__contacts:hover > & {
    fill: var(--accent-color);
    transition: fill;
  }
}

.email {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  display: inline-block;

  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
