.site-nav {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.site-nav-link-current {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  position: relative;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: rgba(33, 150, 243, 1);
    position: absolute;
    bottom: 0;
    left: 0%;
    border-radius: 2px;
  }
}
.nav-container {
  display: flex;

  // .list &:not(:last-child) {
  //   margin-right: 50px;
  // }
}
.nav-container__item a {
  display: block;
  align-items: center;
  padding: 32px 0;
}
.nav-container__item:not(:last-child) {
  margin-right: 50px;
}
