.site-nav {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color;
  display: inline-block;
  display: block;
  align-items: center;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.site-nav-link-current {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  position: relative;
  display: block;
  align-items: center;
  padding: 32px 0;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: rgba(33, 150, 243, 1);
    position: absolute;
    bottom: 0;
    left: 0%;
    border-radius: 2px;
  }
}
.nav-container {
  display: flex;

  .list &:not(:last-child) {
    margin-right: 50px;
  }
}
.nav-container_right {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 21px;
    padding-bottom: 21px;
    justify-content: space-between;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

@media screen and(min-width:768px) {
  .nav-container__item:not(:last-child) {
    margin-right: 50px;
  }
}
.nav-container__item {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.nav-container__item-right:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}
