.features-header {
  color: var(--title-text-color);

  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.main-title {
  padding: 200px 252px 280px 252px;
  min-width: 696px;
  margin-bottom: 0px;
  text-align: center;
}
.section-title {
  color: var(--title-text-color);

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  text-align: center;

  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.name {
  color: var(--title-text-color);

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.team-photo h3 {
  margin-bottom: 10px;
}

.join-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.join-title-header {
  display: block;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.portfolio-name {
  color: var(--title-text-color);

  font-style: normal;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
